/* machalite: 53DD6C, Black: 050404, Byzantium: 7A3B69 */

@font-face {
    font-family: "boxy";
    src: url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "boxy";
    color: #53dd6c;
    text-shadow: 4px 4px 5px black;
}

header{
    padding: 10px;
    background-color: #7A3B69;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: inset 5px 5px 10px #050404;
    border: 5px solid #050404;
}
header img{
    height: 15vh;
    width: 10vw;
}

header a{
    position: relative;
    top: 25px;
    text-decoration: none;
    font-size: 40px;
    margin: 0px;
    padding: 10px 10px;
    height: 70px;
    color: #53dd6c;
    
}
header a:hover{
    border-bottom: 8px solid #050404;
    background-color: #53dd6c;
    color: white;
    text-shadow: 4px 4px 3px black;
    box-shadow: 3px 3px 5px #050404;
}

header h1{
    font-size: 40px;
    text-shadow: 4px 4px 3px black;
    padding-top: 10px;
}

#imageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7A3B69;
}

#imageBox img{
    
    height: 50vh;
    width: 50vw;
}
#imageBox h1{
    font-size: 40px;
}

#imageWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#imageWrapper div h1{
    border: 5px solid #050404;
    padding: 10px;
}

#SponsorBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7A3B69;
    
}

#SponsorBox h1{
    font-size: 40px;
}

#SponsorBox img{

    height: 50vh;
    width: 50vw;
    padding-left: 10px;
}

#infoWrapper{
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #7A3B69;
    
    
}



#info h3{
    border-bottom: 2px solid #050404;
}

img{
    border: 5px solid #050404;
}